* {
  border: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 412px) {
}

@media (max-width: 393px) {
}

@media (max-width: 360px) {
  .patient-section {
    border: 2px solid black;
    height: 200px;
    width: 200px;
  }
}
