* {
  border: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 412px) {
}

@media (max-width: 393px) {
}

@media (max-width: 360px) {
  .dashboard-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 360px;
  }

  .carousel-container {
    display: flex;
    flex-direction: row;
    height: 180px;
    justify-content: center;
    touch-action: pan-y;
    overflow: hidden;
    width: 100%;
  }

  .carousel-track {
    align-items: center;
    display: flex;
    margin: 5px;
    width: 100%;
  }

  .carousel-card {
    border: 2px solid red;
    border-radius: 6%;
    height: 100px;
    margin: 5px;
    width: 250px;
    padding: 5px;
  }
}
