* {
  border: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 412px) {
}

@media (max-width: 393px) {
}

@media (max-width: 360px) {
  fieldset {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  fieldset h1 {
    color: #ef496c;
  }

  fieldset .login-inputEmail,
  .login-inputPassword {
    background-color: #ffffff;
    border-radius: 6%;
    color: black;
    height: 40px;
    width: 250px;
    margin: 10px;
  }

  fieldset .login-error {
    border: 2px solid #ef496c;
  }

  fieldset button {
    color: white;
    background-color: #ef496c;
    border-radius: 6%;
    font-size: 25px;
    height: 50px;
    margin: 5px;
    width: 250px;
  }

  fieldset .error-message {
    color: #ef496c;
    font-size: 18px;
    margin: 10px;
  }
}
