* {
  border: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 412px) {
  body {
  }
}

@media (max-width: 393px) {
  body {
  }
}

@media (max-width: 360px) {
  body {
    background-color: #eef6fa;
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: center;
    padding: 15px;
  }
}
